.table {
    box-sizing: border-box;

    margin: 0px 10px;
    padding: 10px;
    height: 98%;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 10px;
    overflow-y: scroll;
}

.dark_mode .table {
    border: 2px solid rgb(40, 40, 40);
}

.table-item {
    display: flex;

    box-sizing: border-box;

}

.table-item:not(:last-child) {
    border-bottom: 2px solid rgb(40, 40, 40);
}



::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
}

.dark_mode .table {
    border: 2px solid rgb(40, 40, 40);
}

.table li {

    font-size: 20px;
    line-height: 30px;
}



.table_col_0 {
    text-align: start;
    width: 5%;
}

.table_col_1 {
    text-align: end;
    width: 45%;
}


.table_col_2 {
    text-align: center;
    width: 5%;
}



.table_col_3 {
    text-align: start;
    width: 45%;
}


@media (max-width: 700px) {
    .table {
        padding: 2px 5px;
        margin: 0px 5px;
    }

    .table_col_0 {
        display: none;
    }

    .table_col_1 {
        text-align: end;
        width: 48%;
    }

    .table_col_2 {
        width: 4%;
    }

    .table_col_3 {
        width: 48%;
    }

}