.game-block {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;


    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #404040;
    box-shadow: 0px 0px 5px #404040;
}

.game-block-header {
    position: relative;
    color: white;
}

.dark_mode .game-block-header {
    color: #c1a400
}

.game-block-head {

    height: 40px;
    background-color: #404040;


    transition: all 0.9s ease-out 0s;
}

.dark_mode .game-block-head {
    background-color: #404040;
}

.dark_mode .answer-true,
.answer-true {
    background-color: rgb(0, 88, 0);
}

.dark_mode .answer-false,
.answer-false {
    background-color: rgb(123, 0, 0);
}

.game-block-main {
    font-size: 20px;
    height: 200px;
    border-top: 1px solid #404040;
}

.game-block-main-col1 {
    border-right: 1px solid #404040;
    padding: 3px;

}

.game-block-main-col2 {}

.game-block-main-col2 input {
    width: 100%;

    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;


    /* textarea */
    display: flex;
    font-size: 20px;
    font-style: italic;
    border: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.dark_mode .game-block-main-col2 input {
    color: white;

}





.game-block-header-percent {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    line-height: 40px;

}

.game-block-main {
    display: flex;
}

.game-block-main-col1,
.game-block-main-col2 {
    width: 50%;
}


.game-answer p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.game-screen {
    display: flex;
    justify-content: center;
    margin-top: 20px;


}

.game-screen p {
    text-align: center;
    line-height: 47px;
    font-size: 18px;


}

.game-screen-true,
.game-screen-false {
    margin: 0px 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;

    box-sizing: border-box;
}

.game-screen-true {
    border: 3px solid green;



}

.game-screen-false {
    border: 3px solid red;
}

.false-words {
    display: flex;
    flex-direction: column-reverse;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    overflow: auto;
}

@media (max-width: 700px) {
    .game-block-main {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        height: 300px;
        border-top: 1px solid #404040;


    }

    .game-block-main-col1 {
        border-right: none;
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #404040;
        padding: 3px;

        box-sizing: border-box;

    }

    .game-block-main-col2 {
        height: 50%;
        width: 100%;
    }
}