.app {
    position: relative;
    height: calc(100vh);
    color: black;
    transition: all 0.4s ease 0s;
}

.dark_mode {
    background-color: rgb(30, 30, 30);
    color: #c1a400;
    transition: all 0.4s ease 0s;
}

.container {

    height: calc(100% - 100px);
    max-width: 1024px;
    margin: 0 auto;


}

.container-scroll {
    height: calc(100% - 100px);
    overflow: scroll;
    max-width: 1024px;
    margin: 0 auto;
}

@media(max-width:700px) {
    .container-scroll {
        max-width: 700px;
    }
}